@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&display=swap');

:root{
  --desaturated-red: hsl(0, 36%, 70%);
  --soft-red: hsl(0, 93%, 68%);
  --dark-grayish-red: hsl(0, 6%, 24%);
}
/*
### Gradients

- Linear, 135deg, from hsl(0, 0%, 100%), to hsl(0, 100%, 98%)
- Linear, 135deg, from hsl(0, 80%, 86%), to hsl(0, 74%, 74%)
*/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Josefin Sans', sans-serif;
  font-size: 16px;
  line-height: 1.6;
}

.container{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: 
  "row1"
  "row2"
  ;
  width: 100%;
}

.right-side{grid-area:  row1;}
.left-side{grid-area: row2;}
.logo{display: none;}


#mobile-header{
  margin-bottom: 1rem;
  margin-top: 2rem;
  margin-left: 1rem;
}
.right-side{
  background-image: url(images/hero-mobile.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* LEFT SIDE BOTOTM SIDE MOBILE */
.left-side{
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0 2.5rem;
}

.left-side .text-block h1{
  text-transform: uppercase;
  letter-spacing: 15px;
  font-weight: 600;
  
}
.left-side .text-block span{
  display: block;
  color: var(--desaturated-red);
  font-weight: 300;
}
.left-side .text-block p{
  color: var(--desaturated-red);
  font-size: 1.2rem;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}

/* Buttons and EMAIL */
.left-side .text-block form{
  margin-top: 3rem;
  position: relative;
  margin-bottom: 10rem;
}
.left-side .text-block form input[type='email']{
  height: 55px;
  width: 100%;
  border: 1px solid var(--desaturated-red);
  border-radius: 50px;
  padding-left: 3rem;
  font-size: 1.5rem;
  background: transparent;
  outline: none;
}

.left-side .text-block form input[type='email']:focus{
  border: 3px solid var(--soft-red); 
  transition: all 0.2s ease-in-out;
}

.left-side .text-block form input[type='email']:hover{
  border: 3px solid var(--soft-red); 
}
.left-side .text-block form input::placeholder{
  color: var(--desaturated-red);
  font-size: 1.4rem;
  opacity: 0.6;
}

.left-side .text-block form button{
  width: 100px;
  background: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
  height: 55px;
  border: none;
  border-radius: 50px;
  position: absolute;
  top: 0;
  right: 0;
}
.left-side .text-block form button:hover{
  background: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
  cursor: pointer;
  opacity: 0.8;
  transition: all 0.4s ease-in-out;
} 

/* Error Icon with Text */
.error-icon{
  position: absolute;
  top: 15px;
  right: 120px;
  height: 25px;
  display: none;
}
.small{
  color: var(--desaturated-red);
  font-weight: 600;
  position: absolute;
  left: 35px;
  display: none;
  outline: none;
}