@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Spartan:wght@400;500;700&display=swap');

:root{
  --very-dark-magneta: hsl(300, 43%, 22%);
  --soft-pink: hsl(333, 80%, 67%);

  --dark-grayish-magneta: hsl(303, 10%, 53%);
  --light-grayish-magneta: hsl(300, 24%, 96%);
  --white: hsl(0, 0%, 100%);
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: "Spartan", sans-serif;
  font-size: 15px;
  height: 100vh;
  line-height: 1.6;
}

@media screen and (min-width: 501px){
  
/* Styling Header */
#hero {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 10%;
  padding-left: 10%;
  
}
#hero .text-block{
  margin: 2rem 0;
}
#hero .text-block h1{
  padding-right: 55%;
  color: var(--very-dark-magneta);
  font-weight: 700;
}
#hero .text-block p{
  margin-top: 1rem;
  color: var(--dark-grayish-magneta);
  padding-right: 35%;
}


#hero .rating-block{ 
  margin: 2rem 0;
  color: var(--very-dark-magneta);
  font-weight: 700;
}

.pc-lead{
  display: inline;
}

#hero .rating-block .rating-card{
  padding: 1rem;
  width: 500px;
  background-color: var(--light-grayish-magneta);
}

#hero .rating-block .rating-card:first-child{
  margin-bottom: 1rem;
}

#hero .rating-block .rating-card:nth-child(2){
  margin-bottom: 1rem;
  margin-left: 2rem;
}

#hero .rating-block .rating-card:nth-child(3){
  margin-bottom: 1rem;
  margin-left: 4rem;
}

#hero .rating-block .rating-card .last-star{
  margin-right: 1.5rem;
}

/* Card Testimonial Section */
.social-proof{
  padding-right: 10%;
  padding-left: 10%;
  display: flex;
  gap: 2rem;
}

.card{
  background-color: var(--very-dark-magneta);
  border-radius: .75rem;
  border: none;
  color: var(--white);
  height: 100%;
}

/* Card Heading (AVATAR)*/

.card-heading{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-top: 3rem;
  padding-left: 2.5rem;
  padding-right: 2rem;
}

.card-heading .image .avatar-img{
  max-width: 100%;
  border-radius: 50%;
  width: 45px;
  margin-right: 2rem;
}
.ver-buyer{
  color: var(--soft-pink);
}

/* CARD TEXT PART */
.card .card-text{
  padding-top: 2rem;
  padding-bottom: 3rem;
  padding-left: 2rem;
  padding-right: 2rem;
}

.card:nth-child(2){
  margin-top: 1.5rem;
}

.card:last-child{
  margin-top: 3rem;
}
} /* END OF DESKTOP MEDIA QUERY */


@media screen and (max-width: 500px){
#hero{
  display: flex;
  flex-direction: column;
  padding: 1rem;
  text-align: center;
}

#hero .text-block h1{
  color: var(--very-dark-magneta);
  font-weight: 700;
}

#hero .text-block p {
  margin-top: 1.5rem;
  color: var(--dark-grayish-magneta);
}

/* Rating Cards */

#hero .rating-block{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 2rem 0;  
}

#hero .rating-block .rating-card{
  padding: 1rem;
  background-color: var(--light-grayish-magneta);
  text-align: center;
}

.social-proof{
  padding: 0 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.2rem;
}

.card{
  background-color: var(--very-dark-magneta);
  border-radius: .75rem;
  border: none;
  color: var(--white);
  height: 100%;
}

/* Card Heading (AVATAR)*/

.card-heading{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-top: 2rem;
  padding-left: 2rem;
  padding-right: 2rem;
}
.card-heading .image .avatar-img{
  max-width: 100%;
  border-radius: 50%;
  width: 40px;
  margin-right: 2rem;
}
.card-heading h3 {
  font-weight: 500;
}
.ver-buyer{
  color: var(--soft-pink);
}

/* CARD TEXT PART */
.card .card-text{
  padding: 2rem;
}

.card:last-child{
  margin-bottom: 3rem;
}








}









