
#container{
  margin: 2rem auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
    height: 100%;
    overflow: hidden
}


/*Utility Classse*/
.btn{margin-bottom: 1rem;}
.l-heading{margin: 0.65rem 0;}
.lead{margin-bottom: 2rem;}

/* Orange BOX */
.box-orange{
  background: var(--bright-orange);
  padding: 10px 25px;
  border-radius: 10px 10px 0 0;
}


/* Cyan BOX */

.box-cyan{
  background: var(--dark-cyan);
  padding: 10px 25px;
}


/* Dark Cyan BOX */

.box-dark-cyan{
  background: var(--very-dark-cyan);
  padding: 10px 25px;
  border-radius: 0 0 10px 10px;
}

#attribution{
  text-align: center;
  transform: translateY(1px);
}